<div class="section-ep">
    <div class="anime">
        <h2>{{title}}</h2>
        <img id="animeCover" src="https://m.media-amazon.com/images/M/MV5BYjljYmYzNjMtZWY5YS00OGZjLTk4MTYtNDZmYzkxYjgyMDMzXkEyXkFqcGdeQXVyODM2NjQzOTA@._V1_.jpg" alt="">
        <p>{{sinopse}}</p>
    </div>

    <div class="episodios">
        <h2>Episodios</h2>
        <ul>
            <li><a href="#">EP - 1<img id="episodio" src="https://static01.nyt.com/images/2020/07/06/arts/06tvcol-1/06tvcol-1-superJumbo.jpg" alt=""></a></li>
        </ul>
    </div>
</div>