.lasted{
    text-align: center;
    margin-top: 50px;
}
.lasted h2{
    font-size: 2rem;
}

.titles{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.titles img{
    width: 240px;
    transition: .2s;
}
.titles img:hover{
    scale: 1.1;
    transition: .2s;
}