<div class="box-acategorie">
    <h2>Categorias</h2>
    <div class="categorias">
        <div class="categoria">
            <h2>Shounen</h2>
        </div>
        <div class="categoria">
            <h2>Suspense</h2>
        </div>
        <div class="categoria">
            <h2>Horror</h2>
        </div>
        <div class="categoria">
            <h2>Ficção</h2>
        </div>
        <div class="categoria">
            <h2>Ecchi</h2>
        </div>
    </div>
</div>

<!---    
    <button class="btn-carroussel btn-prev">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
    </button>
    
    <button class="btn-carroussel btn-next">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
    </button>
-->