<div *ngIf="images && images.length > 0" class="carroussel-container">
    <img *ngFor="let image of images; let i=index" 
    [src]="image.imageSrc" 
    [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedindex === i}"
    class="fade">
    
    <div *ngIf="indicators" class="carrousel-dot-contain">
        <span 
        *ngFor="let dot of images; let i=index" 
        class="dot"
        [ngClass]="{'active': selectedindex === i}"
        (click)="selectImage(i)">
        </span>
    </div>


</div>
<button *ngIf="controls" class="btn-carroussel btn-prev">
    <i class="fas fa-arrow-circle-left icon-carousel icon-prev"
    (click)="onPrevClick()"></i>
</button>

<button *ngIf="controls" class="btn-carroussel btn-next">
    <i class="fas fa-arrow-circle-right icon-carousel icon-next"
    (click)="onNextClick()"></i>
</button>